.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    background-color: #f33709be;
    height: 50px;
    border-radius: 30px;
    padding: 0 15px;
}

.buttonContainer button{
    width: 35px;
    height: 35px;
    margin: 0 5px;
    background-color: #ff1919ea;
    border: 4px solid #da0f0f;
    font-size: 15px;
}

.buttonContainer button:hover {
    cursor: pointer
}

.buttonContainer button.active {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    background-color: #ba835e;
    border: 4px solid 	#843b2d
}
.buttonContainer a{
    font-size: 15px;
    background-color: #ffefd5;
    border: 4px solid #843b2d;
    border-radius: 30px;
    text-align: center;
    padding: 4px;
}

.buttonContainer a:hover{
    cursor: pointer;
}