.pagination{
    margin-left: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: none;
    background-color: white;
}

.pagination:hover{
    cursor: pointer;
    box-shadow: 1px 1px 2px black;
    background-color: aqua;
}