.searchContainer{
  display: flex;
  align-items: center;
  margin-left: 10rem;
}

#inputs{
    background-color: #e95050;
    border-style: none;
    width: 13rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
}

#btn{
    height: 2rem;
    border-style: none;
}

