.menu{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
/*     font-weight: bold;
    font-family: 'Luckiest Guy', cursive;
    background-image: url('https://previews.123rf.com/images/netkoff/netkoff1610/netkoff161000620/64696975-patr%C3%B3n-de-comida-r%C3%A1pida-en-un-fondo-blanco-ilustraci%C3%B3n-vectorial.jpg');
 */     
}

.title{
    font-family: 'Nunito';
    font-size: 50px;
    text-align: center;
    letter-spacing: normal;
    color: rgba(22, 22, 22, 0.958)


}