.cartContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 110vh;
    overflow: hidden;
}

.itemContainer {
    width: 50%;
}

.checkout {
    width: 40%;
    
}

