.home {
    margin: auto;
    width: 100%;
    height: 500px;
    background-color: #ffbc0d;
    color: #292929;
    perspective: 1000px;
}
h1{
    padding-top: 3%;
    padding-left: 8%;
    font-family: 'Nunito';
    font-size: 52px;
    line-height: 62px;
    text-align: start;
    letter-spacing: normal;
}
.home1{
    margin-top: 3%;
}

.descripcion{
    padding-left: 8%;
    font-family: VTEXTrust, sans-serif;
    font-size: 22px;
    line-height: 44px;
    text-align: start;
    margin-right: 43%;
}

.logo{
    width: 22%;
    display: flex;
    margin-right: 5%;
    margin-top: -23%;
    float: right;
    transform-style: preserve-3d;
    transform: rotateY(0deg) translateZ(0px);
    transition: transform 0.5s ease-out;
}

@keyframes rotar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


.home:hover .logo {
    transform: rotateY(180deg) translateZ(-50px);
}


.reseña1{
    font-family: VTEXTrust, sans-serif;
    font-size: 16px;
    line-height: 28px;
    text-align: start;
    padding-left: 8%;
}

h4{
    padding-left: 8%;
    font-family: VTEXTrust, sans-serif;
    font-size: 22px;
    line-height: 34px;
    text-align: start;
}
.reseñas{
    display: block;
    margin: 8%;
    clear: both;
    width: 80%;
}

.sub2{
    margin-left: 61%;
    margin-top: -12%;
}

.reseña2{
    font-family: VTEXTrust, sans-serif;
    font-size: 16px;
    line-height: 28px;
    text-align: start;
    padding-left: 8%;
}

.reseña3{
    font-family: VTEXTrust, sans-serif;
    font-size: 16px;
    line-height: 28px;
    text-align: start;
    padding-left: 8%;
}

.reseña4{
    font-family: VTEXTrust, sans-serif;
    font-size: 16px;
    line-height: 28px;
    text-align: start;
    padding-left: 8%;
}

.platosLink{
    background-color: black ;
    color: white;
    margin: auto;
    font-size: 22px;
    width: 80%;
    margin-top: 10%;
    margin-bottom: 5%;
    line-height: 44px;
    height: 200px;
    
}
 
.platos{
    padding-left: 8%;
    font-family: VTEXTrust, sans-serif;
    font-size: 22px;
    padding-top: 5%;
    line-height: 44px;
    text-align: start;
    margin-right: 43%;
}

.categorias{
    width: 203px;
    height: 52px;
    letter-spacing: 1px;
    font-family: VTEXTrust, sans-serif;
    font-size: 14px;
    align-items: start;
    margin-right:65%;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
}

.categorias:hover{
    cursor: pointer;
    border-radius: 10px;
    transform: scale(1.2);
}

.carne{
    width: 22%;
    display: flex;
    margin-right: 10%;
    margin-top: -12%;
    float: right;
    transition: all 0.3s ease-in-out;
}

.carne:hover{
    cursor: pointer;
    transform: scale(1.3);
}

.cart{
    width: 2%;
    position: absolute;
    margin-top: -96px;
}



